#image
{
    width: 100%;
    height: 100%;
    background-image: url("../../../image/card8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    opacity: 0.6;
    filter: alpha(opacity=80);
    border-radius: 6px;
    background-color: rgba(0,0,0,1);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

}

#content
{
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
    background-image: url("../../../image/card71.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /* opacity: 0.9;*/
    filter: alpha(opacity=80);

}

#home
{
    position: relative;
    bottom: 20px;
    padding: 20px;
    justify-content: center;
    font-weight: bold;
    transition: 0.5s;
    filter: alpha(opacity=80);


    /*border-radius: 0 0 8px 8px;*/
   /* box-shadow: 0 0 10px rgba(0,0,0,0.4);*/
}

#home .card
{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 1.5s;
    transform: translateY(0);
}

#home p
{
    color: white;
}


#home .card:hover
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    color: white;
    transition: 1.5s;
    background-color: red;
    animation: animate 5.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transition: 1.5s;
        transform: skew(2grad) rotate3d(4, 1, 1, 4deg);
    }
}